body {
  background:#B2DBBF;
}

h1{
  color: #247BA0;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 38px;
}

footer{
  font-family: "Helvetica";
  margin: 0px 30px;
  text-align: right;
}

.navbar{
  background: #F3FFBD;
  box-shadow: 2px 2px 10px 2px grey;
  padding: 6px 15px;
}

.main{
  text-align: center;
  margin: 30px 30px;
}

.nav-link{
  font-family: "Helvetica";
  color: #70C1B3;
  font-weight: bold;
  font-size: 17px;
  padding: 0px 6px;
  text-decoration: none;
}

.nav-link:hover{
  font-family: "Helvetica";
  color: #B2DBBF;
  font-weight: bold;
  font-size: 17px;
  padding: 0px 6px;
  text-decoration: none;
}

.navbar-brand{
  font-family: "Helvetica";
  color: #247BA0;
  font-weight: bold;
  font-size: 20px;
  padding: 0px;
  text-decoration: none;
}

.navbar-brand:hover{
  font-family: "Helvetica";
  color: #247BA0;
  font-weight: bold;
  font-size: 20px;
  padding: 0px;
  text-decoration: none;
}

.login-info{
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

.error{
  color: red;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 15px;
  margin: 0px;
}

.success{
  color: green;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 15px;
  margin: 0px;
}

.song{
  margin: 20px 5%;
  box-shadow: 3px 3px 3px grey;
  background: #70C1B3;
}

.song-image{
  height: 70%;
  width: 80%;
  margin: 20px 0px 6px 0px;
  box-shadow: 2px 2px 5px grey;
}

.song-link{
  text-decoration: none;
}

.song-link:hover{
  text-decoration: none;
}

.song-title{
  color: black;
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.song-artist{
  color: black;
  font-family: "Helvetica";
  font-size: 15px;
  text-decoration: none;
}

.favorite-button{
  margin: 5px;
  font-family: "Helvetica";
  font-size: 15px;
  text-decoration: none;
}

.favorite-button:hover{
  margin: 5px;
  font-family: "Helvetica";
  font-size: 15px;
  text-decoration: none;
  background: green;
  color: white;
  border-color: green
}

.unfavorite-button{
  margin: 5px;
  font-family: "Helvetica";
  font-size: 15px;
  text-decoration: none;
}

.unfavorite-button:hover{
  margin: 5px;
  font-family: "Helvetica";
  font-size: 15px;
  text-decoration: none;
  background: red;
  color: white;
  border-color: red
}

#register{
  font-family: "Helvetica";
  font-size: 13px;
  margin: 0px;
}

#submit{
  width: 300px;
  height: 40px;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 17px;
}
