<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}{% endblock %} | Tuney Forecast
    </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-sm">
      <a href="/" class="navbar-brand">Tuney Forcast</a>
      <a href="/search" class="nav-link">Search</a>
      {% if isLoggedIn %}
        <a href="/favorites" class="nav-link">Favorites</a>
        <a href="/logout" class="nav-link ml-auto">Log Out</a>
      {% else %}
        <a href="/login" class="nav-link ml-auto">Login</a>
      {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
  </body>
  <footer>
    Copyright Dry Popcorn
  </footer>

</html>
